
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentResponse</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#redirectButton").trigger('click');
            }, 5000);
        });
    </script>
</head>
<body>
    <div> 
        <h1>Payment was not Successfull</h1>
        
        <br />
        <br/>
        <h4 class="subtitle"><a id="redirectButton" href="@Url.Action("Index", "Home")">Click here or you will be redirected to the Home page in 5 seconds</a></h4>

    </div>
</body>

</html>
