@{
    ViewBag.Title = "About Starmeds";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Starmeds is a user-friendly website which is used by the customers to check for and book medicines from anywhere anytime. This project has been developed using .Net, C#, MVC and Microsoft SQL server Management studio. The main purpose to develop this project is to allow users to view and book the medicinal products at their convenience. The user has to register with details only then can he book medicines. After login the user can add products to the cart and then proceed to choose the method of payment. The user can view his orders and check when the delivery will happen to the address mentioned. The admin module has features which help admin add, view and edit the products as per availability. The admin also has to log in to access the module functionality.  </p>





@*@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
    <div>
        <table>
            <tr>
                <td>
                    product Name:
                </td>
                <td>
                    <input type="text" name="product" value="Visual studio 2013" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Total Price:
                </td>
                <td>
                    $<input type="text" name="totalPrice" value="14800" readonly />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="btnConfirm" value="Check out with paypal" />
                </td>
            </tr>
        </table>
    </div>
}*@
