@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Starmeds<br />
    Hosur Rd, 5th Block,<br />
    Koramangala,<br />
    Bengaluru,<br />
    Karnataka 560095<br />
    <abbr title="Phone">P:</abbr>
    9876543210
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@starmeds.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@starmeds.com</a>
</address>