<div class="page-header-serach">
    <h2> Showing results for "<span class="color-blue">ran</span>"</h2>
</div>

<div class="row">

    <div class="col-md-8">

        <div class="page-header-subtitle">

            <h3>Matching Products</h3>
        </div>

        <table class="table table-hover table-striped">

            <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="col-md-2">Pack Size</th>
                    <th>MRP(<i class="fa fa-inr"></i>)</th>
                    <th class="col-md-2 text-center"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a class="text-default" href=""><strong class="searchResultProductName">RANCAD 500MG TAB</strong></a><br><small class="text-muted">Mfg: LUPIN LTD<br>Comp: Ranolazine 500 MG</small>
                    </td>

                    <td>10</td>
                    <td style="width:65px;">
                        130.55
                    </td>

                    <td class="text-center">
                        <button class="btn btn-danger btn-sm addToCartBtn" type="button">
                            Add to
                            Cart
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="text-default" href=""><strong class="searchResultProductName">RANCAD 500MG TAB</strong></a><br><small class="text-muted">Mfg: LUPIN LTD<br>Comp: Ranolazine 500 MG</small>
                    </td>

                    <td>10</td>
                    <td style="width:65px;">
                        130.55
                    </td>

                    <td class="text-center">
                        <button class="btn btn-danger btn-sm addToCartBtn" type="button">
                            Add to
                            Cart
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a class="text-default" href=""><strong class="searchResultProductName">RANCAD 500MG TAB</strong></a><br><small class="text-muted">Mfg: LUPIN LTD<br>Comp: Ranolazine 500 MG</small>
                    </td>

                    <td>10</td>
                    <td style="width:65px;">
                        130.55
                    </td>

                    <td class="text-center">
                        <button class="btn btn-danger btn-sm addToCartBtn" type="button">
                            Add to
                            Cart
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>




    <div class="col-md-4">

        <div class="page-header-subtitle">

            <h3>Matching Compositions</h3>
        </div>

        <table class="table table-alternate table-striped table-condensed">
            <thead>
                <tr class="active color-wht">
                    <th>Composition Name</th>
                </tr>
            </thead>

            <tbody>


                <tr class="cursor">
                    <td>
                        <span class="wbrk">
                            <a class="text-default vsmall-text" href="">Ranibizumab 10 MG /ML</a>
                        </span>
                    </td>
                </tr>
                </tbody>
        </table>

    </div>


</div>