@model List<Product>

@{
    ViewBag.Title = "Products";
}

<h2>Details</h2>


    <h4>Products</h4>
    <hr class="dotted-line">

<div class="product-wrapper">

    @if (Model.Count > 0)
    {
        foreach (var product in Model)
        {
            <div class="product">

                <div class="product-image">
                    <img  src="data:image/jpeg;base64,@(Convert.ToBase64String(product.Product_Image))">
                </div>

                <div class="product-info">

                    <h6 class="caps lhgt20">

                        <span class="productName">@product.Product_Name</span>

                    </h6>

                    <h6 class="price-text-color padding-t-b-5 margin-none">

                        <strong class="large-text color-red">Rs @product.Product_Price</strong>

                        <span class="strike">Rs @product.Product_Price+20</span>


                        <span class="color-black">
                            (<strong>Save Rs 52.00</strong>)
                        </span>

                    </h6>

                    <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

                </div>



            </div>    }
    }
    else
    {
        <h4>No Products Found</h4>
    }

</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
