@model  List<PharmacyProduct>

@{
    ViewBag.Title = "Details";
}

<h2>Pharmacy Products</h2>
<hr class="dotted-line">

<div class="product-wrapper">

    @if (Model.Count > 0)
    {
        foreach (var product in Model)
        {
            <div class="product">

                <div class="product-image">
                    <a href='@Url.Action("ProductDetails", "PharmacyProducts", new { id = product.ProductId })'>
                        @if (product.ProductImage != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(product.ProductImage))">
                        }
                        else
                        {
                            <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                        }
                    </a>
                </div>

                <div class="product-info">

                    <h6 class="caps lhgt20">

                        <span class="productName">@product.ProductName</span>

                    </h6>

                    <h6 class="price-text-color padding-t-b-5 margin-none">

                        <strong class="large-text color-red">Rs @product.ProductPrice</strong>

                        <span class="strike">Rs @product.ProductPrice+20</span>


                        <span class="color-black">
                            (<strong>Save Rs 52.00</strong>)
                        </span>

                    </h6>

                    <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

                </div>



            </div>    }
    }
    else
    {
        <h4>No Products Found</h4>
    }

</div>





