@model List<SubCategory>

@{
    ViewBag.Title = "Health Products SubCategories";
}

<h2>Details</h2>

<div>
    <h4>Health Products SubCategories</h4>
    <hr class="dotted-line">
    <div class="categories-wrapper">
        @foreach (var subCat in Model)
        {
            <div class="categories">

                <div class="product-image">
                    <a href='@Url.Action("Details", "HpSubClassifications", new { id = subCat.SubCat_Id })'>
                        <img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image">
                    </a>
                </div>

                <div class="product-info">


                        <h3>@subCat.SubCatName</h3>
                </div>
            </div>
        }

    </div>
</div>
<p class="back-list">
    @Html.ActionLink("Back to List", "Index")
</p>

