@model  List<SubClassification>

@{
    ViewBag.Title = "Health Products SubClassifications";
}

<h2>Details</h2>

<div>
    <h4>Health Products SubClassifications</h4>
    <hr />
    <div class="categories-wrapper">
        @foreach (var subClassification in Model)
        {
            <div class="categories">

                <div class="product-image">
                    <a href='@Url.Action("Details", "HpProducts", new { id = subClassification.SubClassificationId })'>
                        @if (subClassification.SubClassificationImage != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(subClassification.SubClassificationImage))">
                        }
                        else
                        {
                            <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                        }
                    </a>
                </div>

                <div class="product-info">


                        <h3>@subClassification.SubClassificationName</h3>
                </div>
            </div>
        }
    </div>
</div>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>