@model  List<SubClassification>

@{
    ViewBag.Title = "Health Products SubClassifications";
}

<h2>Details</h2>

<div>
    <h4>Health Products SubClassifications</h4>
    <hr />
    <div class="categories-wrapper">
        @foreach (var subClassification in Model)
        {
            <div class="categories">

                <div class="product-image">
                    <a href='@Url.Action("Details", "HpProducts", new { id = subClassification.SubClassificationId })'>
                        <img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image">
                    </a>
                </div>

                <div class="product-info">


                        <h3>@subClassification.SubClassificationName</h3>
                </div>
            </div>
        }
    </div>
</div>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>