
<div class="offer-slider clearfix">
    <h3>Offers</h3>
    <div class="owl-carousel owl-theme">
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
        <div class="item">

            <div class="product-image"><img class="img-responsive" src="https://static2.medplusmart.com/products/HORL0071_S.jpg?v=51ae0a" alt="product-image"></div>

            <div class="product-info">

                <h6 class="caps lhgt20">

                    <span class="productName">COMPLAN PISTA BADAM REFILL 500GM</span>

                </h6>

                <h6 class="price-text-color padding-t-b-5 margin-none">

                    <strong class="large-text color-red">Rs 443.00</strong>

                    <span class="strike">Rs 495</span>


                    <span class="color-black">
                        (<strong>Save Rs 52.00</strong>)
                    </span>

                </h6>

                <button class="btn btn-danger btn-block addToCartBtn" type="button">Add to Cart</button>

            </div>



        </div>
 
    </div>
</div>