body {
    font-family: 'Open Sans';
}

.container-fluid.padding-none {
    padding: 0px;
}

.row.margin-none {
    margin: 0px !important;
}

.top-bar-info {
    height: 40px;
    background: #2e7cc0;
}

    .top-bar-info ul {
        list-style-type: none;
        color: #fff;
        margin-bottom: 0px;
    }

        .top-bar-info ul li {
            display: inline-block;
            color: #fff;
            font-size: 15px;
            padding: 9px 0px;
            padding-right: 20px;
        }

            .top-bar-info ul li i {
                margin-right: 5px;
                margin-top: 4px;
                float: left;
            }

            .top-bar-info ul li a {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }

        .top-bar-info ul ul.dropdown-menu li {
            padding: 0px 0px;
            display: block;
            color: #000;
            position: relative;
        }

            .top-bar-info ul ul.dropdown-menu li a {
                height: 42px;
                color: #000;
                line-height: 35px;
                padding-left: 30px;
            }

            .top-bar-info ul ul.dropdown-menu li i {
                margin-top: 11px;
                float: left;
                position: absolute;
                left: 9px;
                top: 3px;
            }

.margin-none {
    margin: 0 !important;
}

nav.navbar.mart-nav {
    margin-top: 30px;
    padding: 0 10px;
    color: #fdfffc;
    font-size: 1em;
    border-radius: 0;
}

.header-bar a.navbar-brand {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
}

    .header-bar a.navbar-brand span {
        font-weight: 300;
    }

.mart-nav .navbar-brand {
    height: 60px;
    padding: 10px 20px !important;
    color: #fdfffc;
    text-decoration: none;
    padding-right: 30px !important;
}

.nav-search {
    width: 40%;
    margin: 10px auto 0 15px !important;
    float: right;
    margin-right: 35px !important;
}

.productsearch {
    width: 100%;
}

.nav-search .navtxtSearch {
    border: 0;
    border-left: 1px solid #cecece;
    max-width: none;
}

.nav-search button#MartSearchCategories {
    background: #fff;
    color: #656565;
    padding: 0px 30px 0px 15px;
    position: relative;
    height: 35px;
}

.nav-search input#enterval.form-control {
    height: 40px;
    background: rgb(238, 238, 238) !important;
    padding: 10px !important;
    border-radius: 0px;
    box-shadow: none;
}

.nav-search .btnDark {
    background: #2e7cc0;
    color: #fdfffc;
    outline: 0;
    height: 40px;
    font-weight: 700;
}

.nav-search input#enterval.form-control {
    height: 40px;
    background: #eee !important;
    padding: 10px 10px !important;
}

.nav-search .btnMenu .caret {
    margin-top: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    position: absolute;
    right: 10px;
    top: 75%;
}

nav.navbar.mart-nav ul.nav.navbar-nav .categories-drpdwn li a {
    padding: 7px 10px;
    color: #000f08;
    text-decoration: none;
}

    nav.navbar.mart-nav ul.nav.navbar-nav .categories-drpdwn li a.active {
        color: #2e7cc0;
        text-decoration: none;
    }

.header-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    height: 100px;
}

.logo {
    top: -30px;
    position: absolute;
    width: 150px;
    left: 30px;
    z-index: 100;
    object-fit: cover;
}

.input-group-btn {
    background: #2e7cc0;
}

.nav-search button#MartSearchCategories {
    background: #2e7cc0;
    color: #fff;
}

.cart-icon {
    float: right;
    color: #fff;
    display: block;
    line-height: 50px;
    text-align: center;
    margin-right: 27px;
    margin-top: 6px;
}

    .cart-icon i {
        color: #fff;
        font-size: 16px;
    }

    .cart-icon span.cart-number {
    font-size: 17px;
    margin-left: 3px;
    font-weight: 600;
    color: #2e7cc0;
    }
    .cart-icon img {
    width: 30px;
    max-width: 30px;
}

.navbar.menu--navbar {
    float: left;
    width: 100%;
}

.menu-nav {
    float: left;
    width: 100%;
}
/* Navbar in Header 2 */

.header-2 {
    position: relative;
    width: 100%;
    z-index: 2;
    top: 0px;
    margin-top: 140px;
}

    .header-2 .navbar-default {
        position: relative;
        border: 0;
        margin-bottom: 0px;
        width: 100%;
        z-index: 10;
        background-color: #2e7cc0;
        border-radius: 0px;
    }

    .header-2 .navbar-brand {
        height: auto;
        margin-top: 15px;
    }

    .header-2 .navbar-header {
        position: relative;
        z-index: 2;
    }

    .header-2 .navbar-default li a {
        font-size: 15px;
    }

    .header-2 .navbar-default .navbar-nav > li > a,
    .header-2 .navbar-default .navbar-nav > li > a:active,
    .header-2 .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        text-align: center;
        font-weight: 600;
        overflow: hidden;
        position: relative;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        width: 100%;
        z-index: 1;
        -webkit-transition: 350ms all ease;
        transition: 350ms all ease;
    }

        .header-2 .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
        }

    .header-2 .navbar-default .navbar-nav > .active > a,
    .header-2 .navbar-default .navbar-nav > .active > a:focus,
    .header-2 .navbar-default .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: transparent;
    }

    .header-2 .navbar-default .navbar-nav > li > a:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 0px;
        bottom: 0px;
        left: 50%;
        background-color: #fff;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: 350ms ease all;
        transition: 350ms ease all;
    }

    .header-2 .navbar-default .navbar-nav > li:hover > a:after,
    .header-2 .navbar-default .navbar-nav > .active > a:after {
        width: 50px;
    }

    .header-2 .navbar-default .navbar-toggle {
        position: absolute;
        height: 100%;
        width: 80px;
        right: 0px;
        top: 0px;
        background-color: #303b41;
        margin: 0px;
        border-radius: 0px;
        border: 0px;
        color: #1696e7;
        font-size: 28px;
    }

        .header-2 .navbar-default .navbar-toggle.collapsed {
            color: #f2f2f2;
        }

    .header-2 .navbar-default .navbar-collapse,
    .header-2 .navbar-default .navbar-form {
        position: relative;
        border-color: #fff;
    }

    .header-2 .navbar-default li > .sub-menu {
        min-width: 200px;
        list-style: none;
        padding: 15px;
        opacity: 0;
        display: none;
        visibility: hidden;
        margin: 0px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5);
        z-index: 999999;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: 350ms ease all;
        transition: 350ms ease all;
    }

        .header-2 .navbar-default li > .sub-menu > li {
            position: relative;
            -webkit-transition: 200ms ease all;
            transition: 200ms ease all;
        }

    .header-2 .navbar-default li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .header-2 .navbar-default li > .sub-menu > li > a {
        padding: 10px;
        font-size: 14px;
        color: #929292;
        display: block;
        white-space: nowrap;
        border-radius: 4px;
        -webkit-transition: 200ms ease all;
        transition: 200ms ease all;
    }

        .header-2 .navbar-default li > .sub-menu > li > a:hover {
            text-decoration: none;
            color: #fff;
            background-color: #1696e7;
        }

    .header-2 .navbar-default li > .sub-menu .sub-menu {
        left: 0px;
        top: 0px;
        margin-top: 0px;
    }

    .header-2 .mega-sub-menu {
        position: static;
    }

        .header-2 .mega-sub-menu .mega-dropdown {
            left: 0px;
            width: 100%;
            opacity: 0;
            margin: 0px;
            visibility: hidden;
            display: none;
            z-index: 999999;
            background-color: #fff;
            box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5);
            border-radius: 4px;
            list-style: none;
            padding: 20px 10px;
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            -webkit-transition: 350ms ease all;
            transition: 350ms ease all;
        }

        .header-2 .mega-sub-menu:hover .mega-dropdown {
            opacity: 1;
            height: auto;
            visibility: visible;
            display: block;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items {
            list-style: none;
            padding: 0px;
            background-color: #fff;
        }

            .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li > a {
                color: #929292;
                padding: 10px;
                display: block;
                font-size: 14px;
                border-radius: 4px;
                -webkit-transition: 350ms ease all;
                transition: 350ms ease all;
            }

                .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li > a:hover {
                    background-color: #1696e7;
                    color: #fff;
                }

            .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li.hr {
                border-top: 1px dotted #e2e2e2;
                margin: 5px 0px 15px 0px;
            }

            .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li.heading {
                color: #1696e7;
                padding: 10px;
                background-color: #f9f9f9;
                border-left: 2px solid #1696e7;
            }

.header-2 {
    position: absolute;
}

    .header-2 .navbar-default li > .sub-menu {
        position: absolute;
        display: inherit;
    }

    .header-2 .navbar-default li:hover > .sub-menu {
        display: inherit;
    }

    .header-2 .mega-sub-menu .mega-dropdown {
        position: absolute;
        display: inherit;
    }

    .header-2 .mega-sub-menu:hover .mega-dropdown {
        display: inherit;
    }

    .header-2 .navbar-default .navbar-nav > li > a {
        padding: 5px 20px;
        line-height: 40px;
    }

    .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li > a:hover {
        text-decoration: none;
    }

    .header-2 .container {
        width: 100%;
    }

ul.nav.navbar-nav.navbar-right {
    float: left !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    width: 100%;
    max-width: 1300px;
}

    .body-content h2 {
        color: #2e7cc0;
        font-weight: 300;
        margin-bottom: 30px;
    }

h3 {
    color: #2e7cc0;
    font-weight: 300;
}

.serach-result-box {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 100%;
    min-width: 300px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 4px 6px rgba(0,0,0,0.1), 0 6px 16px rgba(0,0,0,0.2);
    z-index: 99;
}

.form-group.margin-none {
    position: relative;
}

.serach-result-box ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

    .serach-result-box ul li a {
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 15px;
        width: 100%;
        padding-left: 15px;
        padding-right: 10px;
        text-decoration: none;
        color: #2e7cc0;
        font-weight: 600;
    }

    .serach-result-box ul li:hover {
        background: #eee;
    }

.body-content .form-control {
    border-radius: 0px;
}

.body-content button.btn.btn-primary {
    max-width: 280px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 20px;
    height: 40px;
    margin-top: 10px;
}

footer.footer {
    background: #303b41;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 99;
}

.carousel-indicators li {
    background-color: #fff;
    border: 1px solid #fff;
}

.carousel-indicators .active {
    background-color: #222;
    border: 1px solid #000;
}

.offer-slider {
    padding-top: 50px;
    padding-bottom: 100px;
}

.product-image {
    height: 130px;
}

.owl-carousel .owl-item .product-image img {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.product-info h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px !important;
}

.color-red {
    color: #e71c37 !important;
}

.strike {
    text-decoration: line-through;
}

.color-black, a.color-black {
    color: #000f08 !important;
    font-size: 13px;
}

.owl-carousel .btn-block {
    max-width: 240px;
    display: block;
    width: 100%;
    border-radius: 0px;
    border: 0px;
    height: 40px;
    margin: 0 auto;
    margin-top: 17px;
}

.offer-slider h3 {
    margin-bottom: 15px;
}

.product-info {
    padding-bottom: 20px;
}

.owl-carousel .item {
    border: 1px solid rgba(0,0,0,.05);
}

.owl-dots {
    display: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    outline: 0px;
}

button.owl-prev {
    left: -42px;
}

button.owl-next {
    right: -42px;
}

.owl-carousel .owl-nav span {
    left: 0px;
    font-size: 72px;
    color: #2e7cc0;
    font-weight: 300;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
