body {
    font-family: 'Open Sans';
}

.container-fluid.padding-none {
    padding: 0px;
}

.padding-none {
    padding: 0 !important;
}

.row.margin-none {
    margin: 0px !important;
}

.top-bar-info {
    height: 40px;
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f) !important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f) !important;
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
}

    .top-bar-info ul {
        list-style-type: none;
        color: #fff;
        margin-bottom: 0px;
            left: -15px;
    }

        .top-bar-info ul li {
            display: inline-block;
            color: #fff;
            font-size: 15px;
            padding: 9px 0px;
            padding-right: 20px;
        }

            .top-bar-info ul li i {
                margin-right: 5px;
                margin-top: 4px;
                float: left;
            }

            .top-bar-info ul li a {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }

        .top-bar-info ul ul.dropdown-menu li {
            padding: 0px 0px;
            display: block;
            color: #000;
            position: relative;
        }

            .top-bar-info ul ul.dropdown-menu li a {
                height: 42px;
                color: #000;
                line-height: 35px;
                padding-left: 30px;
            }

            .top-bar-info ul ul.dropdown-menu li i {
                margin-top: 11px;
                float: left;
                position: absolute;
                left: 9px;
                top: 3px;
            }

.margin-none {
    margin: 0 !important;
}

nav.navbar.mart-nav {
    margin-top: 30px;
    padding: 0 10px;
    color: #fdfffc;
    font-size: 1em;
    border-radius: 0;
}

.header-bar a.navbar-brand {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
}

    .header-bar a.navbar-brand span {
        font-weight: 300;
    }

.mart-nav .navbar-brand {
    height: 60px;
    padding: 10px 20px !important;
    color: #fdfffc;
    text-decoration: none;
    padding-right: 30px !important;
}

.nav-search {
    width: 40%;
    margin: 10px auto 0 15px !important;
    float: right;
    margin-right: 35px !important;
}
.nav-search .navtxtSearch {
    border: 0;
    max-width: none;
    background: #eee;
    height: 40px;
}

button.btn.btn-secondary.sw-btn-next.disabled {
    cursor: pointer;
    opacity: 1;
}
.productsearch {
    width: 100%;
}

.nav-search .navtxtSearch {
    border: 0;
    border-left: 1px solid #cecece;
    max-width: none;
}

.nav-search button#MartSearchCategories {
    background: #fff;
    color: #656565;
    padding: 0px 30px 0px 15px;
    position: relative;
    height: 35px;
}

.nav-search input#enterval.form-control {
    height: 40px;
    background: rgb(238, 238, 238) !important;
    padding: 10px !important;
    border-radius: 0px;
    box-shadow: none;
}

.nav-search .btnDark {
    background: #2e7cc0;
    color: #fdfffc;
    outline: 0;
    height: 40px;
    font-weight: 700;
}

.nav-search input#enterval.form-control {
    height: 40px;
    background: #eee !important;
    padding: 10px 10px !important;
}

.nav-search .btnMenu .caret {
    margin-top: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    position: absolute;
    right: 10px;
    top: 75%;
}

nav.navbar.mart-nav ul.nav.navbar-nav .categories-drpdwn li a {
    padding: 7px 10px;
    color: #000f08;
    text-decoration: none;
}

    nav.navbar.mart-nav ul.nav.navbar-nav .categories-drpdwn li a.active {
        color: #2e7cc0;
        text-decoration: none;
    }

.header-content {
    width: 100%;
    max-width: 1300px;
    margin-bottom: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    height: 100px;
    margin: 0 auto;
}

.logo {
    top: 50%;
    position: absolute;
    width: 200px;
    left: 0px;
    z-index: 100;
    object-fit: cover;
    margin-top: -37px;
}

.input-group-btn {
    background: #2e7cc0;
}

.nav-search button#MartSearchCategories {
    background: #2e7cc0;
    color: #fff;
}

.cart-icon {
    float: right;
    color: #fff;
    display: block;
    line-height: 50px;
    text-align: center;
    margin-right: 27px;
    margin-top: 6px;
}

    .cart-icon i {
        color: #fff;
        font-size: 16px;
    }

    .cart-icon span.cart-number {
        font-size: 17px;
        margin-left: 3px;
        font-weight: 600;
        color: #2e7cc0;
    }

    .cart-icon img {
        width: 30px;
        max-width: 30px;
    }

.navbar.menu--navbar {
    float: left;
    width: 100%;
}

.menu-nav {
    float: left;
    width: 100%;
}
/* Navbar in Header 2 */
.header-2 {
    position: relative;
    width: 100%;
    z-index: 16;
    top: 0px;
    margin-top: 140px;
}

    .header-2 .navbar-default {
        position: relative;
        border: 0;
        margin-bottom: 0px;
        width: 100%;
        z-index: 10;
        background-color: #2e7cc0;
        border-radius: 0px;
    }

    .header-2 .navbar-brand {
        height: auto;
        margin-top: 15px;
    }

    .header-2 .navbar-header {
        position: relative;
        z-index: 2;
    }

    .header-2 .navbar-default li a {
        font-size: 15px;
    }

    .header-2 .navbar-default .navbar-nav > li > a, .header-2 .navbar-default .navbar-nav > li > a:active, .header-2 .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        text-align: center;
        font-weight: 600;
        overflow: hidden;
        position: relative;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        width: 100%;
        z-index: 1;
        -webkit-transition: 350ms all ease;
        transition: 350ms all ease;
    }

        .header-2 .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
        }

    .header-2 .navbar-default .navbar-nav > .active > a, .header-2 .navbar-default .navbar-nav > .active > a:focus, .header-2 .navbar-default .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: transparent;
    }

    .header-2 .navbar-default .navbar-nav > li > a:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 0px;
        bottom: 0px;
        left: 50%;
        background-color: #fff;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: 350ms ease all;
        transition: 350ms ease all;
        margin-left: -15px;
    }

    .header-2 .navbar-default .navbar-nav > li:hover > a:after, .header-2 .navbar-default .navbar-nav > .active > a:after {
        width: 50px;
    }

    .header-2 .navbar-default .navbar-toggle {
        position: absolute;
        height: 100%;
        width: 80px;
        right: 0px;
        top: 0px;
        background-color: #303b41;
        margin: 0px;
        border-radius: 0px;
        border: 0px;
        color: #1696e7;
        font-size: 28px;
    }

        .header-2 .navbar-default .navbar-toggle.collapsed {
            color: #f2f2f2;
        }

    .header-2 .navbar-default .navbar-collapse, .header-2 .navbar-default .navbar-form {
        position: relative;
        border-color: #fff;
        padding-left: 0px;
    }

    .header-2 .navbar-default li > .sub-menu {
        min-width: 200px;
        list-style: none;
        padding: 15px;
        opacity: 0;
        display: none;
        visibility: hidden;
        margin: 0px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5);
        z-index: 999999;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: 350ms ease all;
        transition: 350ms ease all;
    }

        .header-2 .navbar-default li > .sub-menu > li {
            position: relative;
            -webkit-transition: 200ms ease all;
            transition: 200ms ease all;
        }

    .header-2 .navbar-default li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .header-2 .navbar-default li > .sub-menu > li > a {
        padding: 10px;
        font-size: 14px;
        color: #929292;
        display: block;
        white-space: nowrap;
        border-radius: 4px;
        -webkit-transition: 200ms ease all;
        transition: 200ms ease all;
    }

        .header-2 .navbar-default li > .sub-menu > li > a:hover {
            text-decoration: none;
            color: #fff;
            background-color: #1696e7;
        }

    .header-2 .navbar-default li > .sub-menu .sub-menu {
        left: 0px;
        top: 0px;
        margin-top: 0px;
    }

    .header-2 .mega-sub-menu {
        position: static;
    }

        .header-2 .mega-sub-menu .mega-dropdown {
            left: 0px;
            width: 100%;
            opacity: 0;
            margin: 0px;
            visibility: hidden;
            display: none;
            z-index: 999999;
            background-color: #fff;
            box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5);
            border-radius: 4px;
            list-style: none;
            padding: 20px 10px;
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            -webkit-transition: 350ms ease all;
            transition: 350ms ease all;
            z-index: 99;
        }

        .header-2 .mega-sub-menu:hover .mega-dropdown {
            opacity: 1;
            height: auto;
            visibility: visible;
            display: block;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items {
            list-style: none;
            padding: 0px;
            background-color: #fff;
        }

            .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li > a {
                color: #727272;
                padding: 10px;
                display: block;
                font-size: 14px;
                border-radius: 0px;
                -webkit-transition: 350ms ease all;
                transition: 350ms ease all;
                font-weight: 600;
            }

                .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li > a:hover {
                    background-color: #1696e7;
                    color: #fff;
                }

            .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li.hr {
                border-top: 1px dotted #e2e2e2;
                margin: 5px 0px 15px 0px;
            }

            .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li.heading {
                color: #1696e7;
                padding: 10px;
                background-color: #f9f9f9;
                border-left: 2px solid #1696e7;
            }

.header-2 {
    position: absolute;
}

    .header-2 .navbar-default li > .sub-menu {
        position: absolute;
        display: inherit;
    }

    .header-2 .navbar-default li:hover > .sub-menu {
        display: inherit;
    }

    .header-2 .mega-sub-menu .mega-dropdown {
        position: absolute;
    }

    .header-2 .mega-sub-menu:hover .mega-dropdown {
        display: inherit;
    }

    .header-2 .navbar-default .navbar-nav > li > a {
        padding: 5px 30px;
        line-height: 40px;
        padding-left: 0px;
        font-size: 14px !important;
    }

    .header-2 .mega-sub-menu .mega-dropdown .mega-menu-items > li > a:hover {
        text-decoration: none;
    }

    .header-2 .container {
        width: 100%;
        max-width: 1300px;
    }

ul.nav.navbar-nav.navbar-right {
    float: left !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    width: 100%;
    max-width: 1300px;
    padding-bottom: 100px;
}

    .body-content h2 {
        color: #2e7cc0;
        font-weight: 300;
        margin-bottom: 30px;
    }

h3 {
    color: #2e7cc0;
    font-weight: 300;
}

.serach-result-box {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 100%;
    min-width: 300px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 4px 6px rgba(0,0,0,0.1), 0 6px 16px rgba(0,0,0,0.2);
    z-index: 99;
}

.form-group.margin-none {
    position: relative;
}

.serach-result-box ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

    .serach-result-box ul li a {
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 15px;
        width: 100%;
        padding-left: 15px;
        padding-right: 10px;
        text-decoration: none;
        color: #2e7cc0;
        font-weight: 600;
    }

    .serach-result-box ul li:hover {
        background: #eee;
    }

.body-content .form-control {
    border-radius: 0px;
}

.body-content button.btn.btn-primary {
    max-width: 280px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 20px;
    height: 40px;
    margin-top: 10px;
}

footer.footer {
    background: #303b41;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 99;
}

.carousel-indicators li {
    background-color: #fff;
    border: 1px solid #fff;
}

.carousel-indicators .active {
    background-color: #222;
    border: 1px solid #000;
}

.offer-slider {
    padding-top: 50px;
    padding-bottom: 100px;
}

.product-image {
    height: 130px;
}

.owl-carousel .owl-item .product-image img {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.product-info h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px !important;
}

.color-red {
    color: #e71c37 !important;
}

.strike {
    text-decoration: line-through;
}

.color-black, a.color-black {
    color: #000f08 !important;
    font-size: 13px;
}

.owl-carousel .btn-block {
    max-width: 240px;
    display: block;
    width: 100%;
    border-radius: 0px;
    border: 0px;
    height: 40px;
    margin: 0 auto;
    margin-top: 17px;
    background: #2e7cc0;
}

    .owl-carousel .btn-block:hover {
        background: #0089ff;
    }

.offer-slider h3 {
    margin-bottom: 15px;
}

.product-info {
    padding-bottom: 20px;
}

.owl-carousel .item {
    border: 1px solid rgba(0,0,0,.05);
}

.owl-dots {
    display: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    outline: 0px;
}

button.owl-prev {
    left: -42px;
}

button.owl-next {
    right: -42px;
}

.owl-carousel .owl-nav span {
    left: 0px;
    font-size: 72px;
    color: #2e7cc0;
    font-weight: 300;
}

.categories {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    border: 0;
    margin-right: 20px;
    width: 23%;
    max-width: 23%;
    margin-bottom: 20px;
    position:relative;
}

    .categories .product-image {
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        overflow: hidden;
        height: auto;
        min-height:235px;
    }

        .categories .product-image img {
            object-fit: cover;
            margin: 0 auto;
            display: block;
            width: auto;
            max-width: 100%;
            max-height: 167px;
        }

    .categories .product-info {
      background: #eee;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    }

    .categories h3 {
        color: #03a9f4;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        color: #222;
    }

    .categories .product-info p {
        font-size: 14px;
        margin-top: 17px;
    }

    .categories:hover {
        box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.2);
    }

    .categories .product-info a.btn.btn-primary {
        background-color: #03a9f4;
        border: 1px solid #03a9f4;
        padding: 8px 30px;
        border-radius: 0px;
        min-width: 162px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

.card-body p.text-right {
    margin-bottom: 0px;
}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

hr.dotted-line {
    border-top: 1px dashed #eee;
    margin-bottom: 30px;
}

p.back-list a {
    font-size: 16px;
}

.product-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

    .product-wrapper .product {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        border-radius: 2px;
        background-color: #fff;
        margin-bottom: 20px;
        margin-bottom: 2rem;
        border: 0;
        margin-right: 20px;
        width: 25%;
        max-width: 25%;
        margin-bottom: 20px;
        padding: 15px;
    }

.product-image img {
    display: block;
    margin: 0 auto;
    width: 123px;
}

.product-wrapper .btn-block {
    display: block;
    width: 100%;
    border-radius: 0px;
    height: 40px;
    max-width: 100%;
    background: #2e7cc0;
    border: 1px solid #2e7cc0;
}

    .product-wrapper .btn-block:hover {
        background: #0089ff;
        border: 1px solid #2e7cc0;
    }

.product-wrapper .product-info {
    padding-bottom: 0px;
}

.product-wrapper .product-image {
    height: auto;
    margin-bottom: 20px;
}

p.btn-tag a {
    color: #fff;
    padding: 10px 20px;
    background: #2e7cc0;
    max-width: 150px;
    width: 100%;
    min-width: 150px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

p.btn-tag {
    margin-bottom: 20px;
    position: relative;
    color: #fff;
}

    p.btn-tag.add-btn i.fa.fa-plus {
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -6px;
    }

table.table.table-bordered td p {
    margin-bottom: 0px;
}

.table-bordered td img {
    display: block;
    margin: 0 auto;
    max-width:100px;
}

table.table.table-bordered td {
    padding: 12px;
    vertical-align: middle;
}


.table-bordered > thead > tr > th {
    border-bottom: 0px;
    padding: 12px;
}

.edit-row i.fa {
    padding-left: 6px;
    padding-right: 5px;
}

.edit-row a.fa-icon {
    display: inline-block;
    padding-left: 2px;
    padding-right: 5px;
    color: #2e7cc0;
    font-weight: 600;
}

.edit-row i.fa.fa-pencil {
    color: #FFC107;
}

.edit-row i.fa.fa-clone {
    color: #2e7cc0;
}

.edit-row i.fa.fa-trash {
    color: #E34724;
}

.product-wrapper h6.caps.lhgt20 span {
    min-height: 30px;
    display: block;
}

.product-details-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product-details-image {
    padding: 20px;
    width: 40%;
    max-width: 40%;
}

.product-details-description {
    padding: 20px;
    width: 60%;
    max-width: 60%;
}

.product-details-image img {
    display: block;
    text-align: left;
    max-width: 400px;
}

.product-details-description h5 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #444;
}

.two-column-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

    .two-column-box .price-tag {
        color: #444;
        font-size: 17px;
        padding-right: 50px;
        display: inline-block;
        font-weight: 600;
    }

p.price-value {
    color: #e74c3c;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}

.two-column-box p {
    min-width: 200px;
}

p.product-tag.exp-date-tag {
    font-size: 16px;
    font-weight: 600;
    color: #444;
}

p.product-details.exp-date {
    padding: 10px;
    border: 1px dashed rgba(85, 85, 85, 0.2);
    background: rgba(255, 255, 0, 0.18);
    font-weight: 600;
    color: #444;
}

p.product-tag {
    font-size: 15px;
    font-weight: 600;
    color: #444;
    max-width: 100px;
    width: 20%;
}


p.product-details {
    font-size: 15px;
    color: #444;
    font-weight: 400;
    max-width: 100%;
    padding: 10px;
    padding-left: 0px;
}

    p.product-details.desc-details {
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        line-height: 26px;
    }

p.edit-back-list {
    margin-top: 20px;
}

    p.edit-back-list a {
        color: #2e7cc0;
        font-size: 16px;
    }

p.qty-value.product-details {
    background: #2e7cc0;
    min-width: 50px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding-left: 10px;
}

ul.nav.nav-tabs.step-anchor {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

    ul.nav.nav-tabs.step-anchor > li {
        flex: 1;
    }

.sw-theme-default .step-content {
    background: rgba(241, 241, 241, 0.23);
    padding: 15px;
}

.productlist-card.productlist-card-title {
    min-height: initial;
}

.productlist-card {
    position: relative;
    padding: 10px 10px 10px 80px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #cecece;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    background-color: #fff;
    min-height: 140px;
}

h5.strong {
    font-weight: 600;
}

.productlist-card img.product-img {
    position: absolute;
    left: 10px;
    max-width: 60px;
}

a.btnRemoveBdr {
    outline: 0;
    text-align: center;
    border: 1px solid #e71c37 !important;
    background: #fff;
    color: #e71c37;
    position: absolute;
    left: 24px;
    top: 90px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.margin-l-r-none {
    margin-left: 0;
    margin-right: 0;
}

.margin-b, .margin-t-b {
    margin-bottom: 10px;
}

.margin-l-r, .margin-r {
    margin-right: 10px;
}

.color-dgry {
    color: #7d8185 !important;
}

.size-16 {
    font-size: 16px !important;
}

.padding-l-5, .padding-l-r-5 {
    padding-left: 5px;
}

span.size-16.strong {
    font-weight: 600;
}

h5.strong {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 14px;
}

p.size-12.margin-b-5 {
    font-size: 12px;
    margin-bottom: 5px;
}

.btnRemoveBdr:active, .btnRemoveBdr:focus, .btnRemoveBdr:hover {
    border: 1px solid #e71c37 !important;
    text-align: center;
    background: #e71c37 !important;
    color: #fff !important;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -khtml-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    transition: all .5s ease;
}

.left {
    float: left;
}

.w75 {
    width: 75% !important;
}

.right, .scroller-right {
    float: right;
}

.size-12 {
    font-size: 12px !important;
}

.strong {
    font-weight: 600;
}

.btn-group.mr-2.sw-btn-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 66.66666667%;
}

button.btn.btn-secondary.sw-btn-next {
    background: #2e7cc0;
    color: #fdfffc;
    outline: 0;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -khtml-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    max-width: 150px;
    width: 100%;
    height: 50px;
    font-size: 17px;
}

button.btn.btn-secondary.sw-btn-prev {
    color: #222;
    outline: 0;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -khtml-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    max-width: 150px;
    width: 100%;
    height: 50px;
    font-size: 17px;
}

.checkout-container-row {
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 10px;
    border: 1px dashed #2e7cc0;
}

.lineheight26 {
    line-height: 26px !important;
}

.size-13 {
    font-size: 13px !important;
}

.padding-r-0 {
    padding-right: 0px;
}

.tab-pane.step-content .form-group label {
    color: #343434;
    font-weight: 400;
}

.form-group {
    margin-bottom: 20px;
}

.tab-pane.step-content .form-group label {
    color: #343434;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}


.tab-pane.step-content .form-group input {
    height: 48px;
    width: 100%;
    display: block;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
    background: #fff;
    border: 1px solid #eaeaea;
    max-width: 500px;
}

.form-group textarea {
    width: 100%;
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
    background: #fff;
    border: 1px solid #eaeaea;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}

.tab-pane.step-content .form-group label {
    color: rgb(52, 52, 52);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.contianer-fluid.productlist-card.productlist-card-title.order-title {
    padding-left: 10px;
}

.contianer-fluid.productlist-card.productlist-card-title.order-title {
    padding-left: 10px;
}

i.fa.fa-dot-circle-o.color-dgreen.padding-r.size-16 {
    color: #5cb85c;
    margin-right: 10px;
}

.order-title p.margin-none.padding-r-15 {
    font-weight: 600;
}

.order-title i.fa.fa-dot-circle-o.color-dgreen.padding-r.size-16 {
    color: #5cb85c;
    margin-right: 10px;
}

.color-blue {
    color: #2e7cc0 !important;
}

.productlist-card.total-value-box {
    min-height: inherit;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

    .productlist-card.total-value-box span.mrp-total {
        color: #5cb85c;
        font-weight: 600;
        padding-left: 20px;
        font-size: 17px;
    }

hr.margin-t-15.margin-b {
    margin-top: 15px;
    border-top: 1px solid #ccc;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 26px;
    display: inline-block;
    color: #666;
        margin-bottom: 0px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #5cb85c;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
content: '';
    width: 12px;
    height: 12px;
    background: #5cb85c;
    position: absolute;
    top: 7px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-item-panel {
position: relative;
    padding: 15px 0 15px 20px;
    background-color: #fff;
    margin: 15px 0 15px 0;
    list-style: none;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);

}
.radio-item-panel p {
    margin: 0px;
}
.radio-item-panel label strong {
    display: block;
    color: #5cb85c;
}
h4.subtitle {
    color: #2e7cc0;
    font-weight: 400;
    margin-bottom: 30px;
}
table.table.table-bordered td.edit-row {
    width: 13%;
}
input.btn.btn-default {
    max-width: 250px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 20px;
    height: 40px;
    margin-top: 10px;
        color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
input.btn.btn-default:hover{
        background-color: #057de4;
    border-color: #057de4;
}

.page-header-serach h2 {
   color: #222;
    border-bottom: 1px dashed #eee;
    padding-bottom: 20px;
    margin-bottom:20px;
}
button.btn.btn-danger.btn-sm.addToCartBtn {
    background: #2e7cc0;
    border: 1px solid #2e7cc0;
}
button.btn.btn-danger.btn-sm.addToCartBtn:hover{
    background: #0089ff;
     border: 1px solid #0089ff;
}
.page-header-subtitle h3 {
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
        margin-bottom: 25px;
}
table.table.table-alternate.table-condensed thead th {
    background: none;
}
table.table.table-alternate.table-condensed a.text-default.vsmall-text {
    color: #222;
}

.steps-list {
    background: #eee;
    padding-bottom: 17px;
    padding-top: 17px;
    border-bottom: 3px solid #2e7cc0;
}

.steps-content {
    background: #fafafa;
    padding: 30px;
}

.steps-content .btn-group.mr-2.sw-btn-group {
    margin-top: 25px;
}

.steps-list ul {
        list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.steps-list ul li {
    color: #00a546;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.steps-list ul li a {
    color: #00a546;
    text-decoration: none;
}

label.label-success {
    background: none;
    color: red;
    font-size: 16px;
    font-weight: 400;
    display: block;
    max-width: 300px;
    padding: 7px 10px;
    margin-left: 10px;
}
h1.green-txt {
    color: green;
    font-weight: 300;
}

.bordered-col {
    border: 1px dashed #999;
    padding: 10px;
    margin-top: 20px;
}

.bordered-col h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}
.contianer-fluid.productlist-card.productlist-card-title.order-title.order-box-panel {
    padding-left: 10px;
    box-shadow: none;
    border: 0px;
    border: 1px dashed #9999;
    padding: 20px;
    margin-top: 20px;
}

.order-box-panel div {
    font-size: 15px;
    line-height: 30px;
}


.order-box-panel .productlist-card {
    box-shadow: none;
}

.order-panel .contianer-fluid.productlist-card {
    background: #fafafa;
    box-shadow: none;
    border: 1px dashed #eee;
    margin-top:20px;
}

.order-panel  .productlist-card.total-value-box {
    background: #eee;
}
/* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
