@model IEnumerable<StarMedsMVC.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Health Product Categories</h2>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>           
        </tr>
    }

</table>
